@tailwind base;
@tailwind components;
@tailwind utilities;

.vkuiIcon {
    box-sizing: content-box;
}

.flex-col,
.flex-row,
.flex-col-reverse,
.flex-row-reverse {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: unset;
    font-size: 1rem;
    line-height: 1.5rem;
}

table,
table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-image: none;
    text-align: unset;
    font-weight: unset;
}

.stack-blur {
    position: absolute;
    inset: 0;

    backdrop-filter: blur(8px);
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

body:has(.disable-scroll) {
    overflow: hidden;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.press-scale {
    scale: 1;
    transition: scale 0.12s ease-in-out;
}

/* .press-scale:hover {
    scale: 1.02;
} */

.press-scale:active {
    scale: 0.95;
}

/* .vkuiTabbarItem__in {
    transition: scale 0.3s ease-in-out;
} */

/* .vkuiTabbarItem:active .vkuiTabbarItem__in {
    scale: 0.95;
} */

/* .disable-scroll>div>div .vkuiPullToRefresh__spinner {
    visibility: hidden;
} */