@tailwind base;
@tailwind components;
@tailwind utilities;

.vkuiIcon {
    box-sizing: content-box;
}

.flex-col,
.flex-row,
.flex-col-reverse,
.flex-row-reverse {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: unset;
    font-size: 1rem;
    line-height: 1.5rem;
}

table,
table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-image: none;
    text-align: unset;
    font-weight: unset;
}